.content{
    border: 1px black solid;
    left:0;
    top:0;
    right:0;
    bottom:0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top{
    border: 1px black solid;
    height: 35px;
    display: flex;
    justify-content: space-between;

}
.mid{
    border: 1px black solid;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}
.bot{
    border: 1px black solid;
    height: 40px;
}
.panel{
    border:1px black solid;
    height: 300px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.img{
    width: 30px;
    height:30px;
}

