.content{
    border:1px solid black;
    border-radius: 3px;
    position: relative;
}
.content input {
    border:none;
    outline: none;


}
.normal{
    position: absolute;
    left: 5px;
    color: #777777;
    pointer-events: none;
}
.up{
position: absolute;
    bottom: 25px;
    left:5px;



}




