.content{
    border:1px solid black;
    border-radius: 3px;
    position: relative;
}
.content input {
    border:none;
    outline: none;
}
.content label {
    position: absolute;
    left: 6px;
    color: #777777;
    background: white;
    transition: .2s;
}
.content:focus-within label,
.content input:not(:placeholder-shown){
    margin: -17px 0;
}



