.content{
    border:1px solid black;
    border-radius: 3px;
    position: relative;
}
.content input {
    border:none;
    outline: none;

}
.normal{
    position: absolute;
    right: 110px;
    color: #777777;}
.up{
position: absolute;
    bottom: 25px;
    right:110px;



}




